# Ignorar base de datos SQLite
backend/agenda_contactos.db

# Ignorar entorno virtual de Python
backend/venv/

# Ignorar archivos de caché de Python
.coverage
coverage.xml
.pytest_cache/
__pycache__/
*.pyc

# Ignorar archivos temporales
*.swp
*.swo

# Ignorar archivos de sistema
.DS_Store
Thumbs.db

# Ignorar archivos de configuración de editor
.vscode/

