version: '3.9'
services:
  frontend:
    build: ./frontend
    container_name: agenda_frontend
    ports:
      - "80:80"
    depends_on:
      - backend
  backend:
    build: ./backend
    container_name: agenda_backend
    ports:
      - "8000:8000"
